.main {
  padding: 0;
}

.mp_container {
  height: 100vh;
  // background: $secondaryColor;
}
#mp_page,
.skw-wrapper {
  height: 100vh;
}
@media screen and (max-width: 768px) {
  #mp_page,
  .skw-wrapper {
    height: auto;
  }
}
.page_section {
  position: absolute;
  bottom: 5%;
  left: 8%;
  z-index: 3;

  @include screen('mobile') {
    display: none;
  }
}

.fullpage_btn_grp {
  padding: 0;
  margin: 0;

  a {
    height: 2em;
    padding-left: 1em;
    border-left: 0.2em solid #fff;
    letter-spacing: 0.2em;
    font-weight: 300;
    color: #fff;
    line-height: 2em;
    display: block;
    cursor: unset;
    &:focus {
      box-shadow: 0 0px 0px 2px $aFocus inset;
    }
  }

  .fullpage_btn-active {
    border-left: 0.2em solid $secondaryColor;
  }
}

.skw-header {
  @include screen('mobile') {
    position: relative;
  }
}

.header_logo {
  position: absolute;
  left: 1em;
  top: 0;
  width: 10em;
  height: 100vh;

  h1 {
    z-index: 10;
    position: relative;
    z-index: 99;

    @include screen('mobile') {
      padding: 0;
      text-align: unset;
      z-index: 10;
    }

    + span {
      position: absolute;
      display: block;
      color: #fff;
      bottom: 2em;
      left: 0em;
      font-weight: 200;
      writing-mode: vertical-rl;
      font-size: 0.85em;

      @include screen('mobile') {
        display: none;
      }
    }

    img {
      height: 43px;
      width: 43px;
      margin-bottom: 0.2em;

      @include screen('mobile') {
        transform: scale(1);
        margin-bottom: 0;
        margin-right: 0.2em;
      }
    }

    a {
      padding-top: 0.5em;

      span {
        display: flex;

        span {
          margin-top: 0.2em;
          writing-mode: vertical-lr;
          letter-spacing: 0.1em;
          font-weight: 400;
          color: gray;
          font-size: 0.45em;
          line-height: 1.13em;
          white-space: nowrap;

          &:last-child {
            color: darken(gray, 50%);
            font-size: 0.58em;
            line-height: 1.5em;
            letter-spacing: 0.25em;
          }
        }

        @include screen('mobile') {
          flex-wrap: wrap;

          span {
            white-space: nowrap;
            writing-mode: horizontal-tb;
            color: #fff;

            &:last-child {
              line-height: 0;
              letter-spacing: 0.1em;
              color: #fff;
            }
          }
        }
      }

      @include screen('mobile') {
        display: flex;
      }
    }
  }
}
.skw-page__half {
  width: 55%;
}
.skw-page-2,
.skw-page-4 {
  .skw-page__half--right {
    .skw-page__content {
      padding: 0 40% 0 20%;
      align-items: flex-start;
      justify-content: flex-end;
    }

    p {
      font-weight: 300;
      font-size: 0.95em;
      letter-spacing: 0.05em;
    }

    .skw-page__skewed {
      &:after {
        content: '';
        position: absolute;
        left: -5px;
        bottom: 0;
        width: 105px;
        height: 430px;
        z-index: 2;

        @include screen('mobile') {
          display: none;
        }
      }

      @include screen('mobile') {
        width: 180%;
        right: -150%;
      }

      @include screen('xs_mobile') {
        width: 200%;
        right: -190%;
      }
    }

    @include screen('mobile') {
      width: 30%;
    }

    .skw-page__description {
      @include screen('mobile') {
        display: none;
      }
    }
  }

  .skw-page__half--left {
    .skw-page__content {
      padding: 0% 40% 0% 30%;
      @include screen('mobile') {
        padding: 0 50% 0% 20%;
      }
      @include screen('tablet') {
        padding: 0 35% 0% 35%;
      }
      @include screen('xs_mobile') {
        padding: 20% 40% 0% 20%;
      }
    }

    .skw-page__skewed {
      .skw-page__content {
        z-index: 2;

        h2 {
          @include screen('tablet') {
            margin-top: -130px;
          }
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 20%;
        bottom: 0;
        width: 105px;
        height: 430px;
        z-index: 2;
        display: none;
        background: $secondaryColor;

        @media screen and (max-width: 600px) {
          height: 150px;
        }

        @include screen('mobile') {
          display: block;
          right: 5%;
        }
      }

      @include screen('mobile') {
        width: 180%;
        right: -20%;
      }

      @include screen('xs_mobile') {
        left: auto;
      }
    }

    &::before {
      content: '';
      z-index: 1;
      top: -50px;
      // top: -10px;
      right: 0px;
      width: 450px;
      height: 222px;
      position: absolute;
      background-image: url(../images/img/num-01.png);
      transform: scale(0.5);

      @include screen('tablet') {
        transform: scale(0.3);
        top: -60px;
        right: -120px;
      }
      @include screen('mobile') {
        right: -240px;
      }
    }

    @include screen('mobile') {
      width: 70%;
    }
  }
}

.skw-page-3,
.skw-page-5 {
  .skw-page__half--left {
    .skw-page__content {
      padding: 3.5% 20% 0% 20%;
      justify-content: flex-start;
      @include screen('tablet') {
        padding: 3.5% 35% 0% 35%;
      }
    }

    p {
      font-weight: 300;
      font-size: 0.95em;
      letter-spacing: 0.05em;
      margin-left: 150px;
      text-align: start;

      @include screen('tablet') {
        margin-left: 0px;
      }
    }

    .skw-page__skewed {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 270px;

        @include screen('mobile') {
          display: none;
        }
      }

      @include screen('mobile') {
        width: 180%;
        left: -80%;
      }

      @include screen('xs_mobile') {
        width: 250%;
        left: -150%;
      }
    }

    .skw-page__description {
      display: block;
      width: 100%;

      @include screen('mobile') {
        display: none;
      }
    }

    @include screen('mobile') {
      width: 30%;
    }
  }

  .skw-page__half--right {
    .skw-page__skewed {
      .skw-page__content {
        z-index: 2;

        @include screen('mobile') {
          padding: 0 40% 0% 30%;
        }

        @include screen('xs_mobile') {
          padding: 20% 25% 0% 42%;
        }
      }

      @include screen('mobile') {
        width: 180%;
        left: -30%;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 270px;
        z-index: 3;
        display: none;
        background: $secondaryColor;

        @include screen('mobile') {
          display: block;
        }
      }
    }

    h2 {
      @include screen('tablet') {
        margin-left: 20%;
      }

      @include screen('xs_mobile') {
        margin-left: 0;
      }
    }

    &::before {
      content: '';
      z-index: 1;
      // top: -10px;
      top: -50px;
      right: 40px;
      width: 450px;
      height: 222px;
      transform: scale(0.5);
      position: absolute;
      background-image: url(../images/img/num-04.png);

      @include screen('tablet') {
        width: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        // right: 0;
        right: 70px;
      }

      @include screen('mobile') {
        left: 24%;
      }

      @media (max-width: 680px) {
        left: 16%;
      }

      @include screen('xs_mobile') {
        left: 5%;
      }

      @media (max-width: 480px) {
        left: -15%;
      }
    }

    @include screen('mobile') {
      width: 70%;
    }
  }
}

.skw-page-2,
.skw-page-5 {
  .skw-page__skewed {
    &::after {
      background: $color-green;
    }
  }
}

.skw-page-3 {
  .skw-page__skewed {
    &::after {
      background: $secondaryColor;
    }
  }

  .skw-page__half--right {
    &::before {
      background-image: url(../images/img/num-02.png);
      transform: scale(0.5);
    }
  }
}

.skw-page-4 {
  .skw-page__skewed {
    &::after {
      background: #378ab3;
    }
  }

  .skw-page__half--left {
    &::before {
      background-image: url(../images/img/num-03.png);
      // transform: scale(0.5);
    }

    .skw-page__skewed {
      &::after {
        background: #378ab3;
      }
    }
  }
}

.skw-page-5 {
  .skw-page__half--right {
    .skw-page__skewed {
      &::before {
        background: $color-green;
      }
    }
  }
}

.wrapp {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapp-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  // .wrapp-item-1 {
  //   background-image: url(../images/img/banner_01.jpg);
  // }

  // .wrapp-item-2 {
  //   background-image: url(../images/img/banner_02.jpg);
  // }

  // .wrapp-item-3 {
  //   background-image: url(../images/img/banner_03.jpg);
  // }

  @include screen('mobile') {
    height: 70vh !important;
  }
}

@media screen and (max-width: 800px) {
  .skw-page-2 .skw-page__half--left .skw-page__content {
    // color:red;
    padding: 0 40% 0 20%;
  }
  .skw-page-3 .skw-page__half--left .skw-page__content {
    // color:red;
    padding: 0 40% 0 20%;
  }
  .skw-page-4 .skw-page__half--left .skw-page__content {
    // color:red;
    padding: 0 40% 0 20%;
  }
  .skw-page-2 .skw-page__half--right .skw-page__content {
    // color:blue;
    padding: 0 20% 0 40% !important;
  }
  .skw-page-3 .skw-page__half--right .skw-page__content {
    // color:blue;
    padding: 0 20% 0 40%;
  }
  .skw-page-4 .skw-page__half--right .skw-page__content {
    // color:blue;
    padding: 0 20% 0 40%;
  }
  .skw-page-5 .skw-page__half--right .skw-page__content {
    // color:blue;
    padding: 0 20% 0 40%;
  }
}
.skw-page-2 .skw-page__half--right .skw-page__content {
  // color:blue;
  padding: 0 40% 0 20% !important;
}
.skw-page-4 .skw-page__half--right .skw-page__content {
  padding: 0 40% 0 20% !important;
}
.skw-page__content > .page_btn {
  &:hover {
    color: $primaryColor;
  }
}

.page_btn {
  padding: 16px 22px;
  border-radius: 50%;
  border: 1px #fff solid;
  border-radius: 50%;
  letter-spacing: 0.1em;
  display: inline-block;
  cursor: pointer;
  color: #fff;

  &:hover {
    background: #fff;
    color: $primaryColor;
    transition: all 1s;
  }

  &:focus {
    color: $primaryColor;
    background: #fff;
  }

  @include screen('mobile') {
    padding: 10px 15px;
  }
}

.skw-page-1 {
  .skw-page__half--right {
    &::before {
      content: '';
      position: absolute;
      z-index: 99;
      left: -16%;
      bottom: 0;
      background: $bg-color-reverse;
      height: 380px;
      width: 105px;
      transform: skewX($skewDeg * -1);

      @include screen('tablet') {
        left: -20%;
      }

      @include screen('mobile') {
        left: 20%;
        background: $bg-color;
      }

      @include screen('xs_mobile') {
        left: -30%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/img/grass.png);
      height: 365px;
      width: 125px;
      bottom: 0;
      left: 1em;

      @include screen('mobile') {
        left: 10em;
      }

      @include screen('xs_mobile') {
        left: 5em;
        height: 230px;
        width: 80px;
        background-position-y: bottom;
        background-size: 100%;
      }
    }

    @include screen('mobile') {
      height: 70vh;
    }
  }

  .skw-page__skewed {
    @include screen('mobile') {
      width: 100%;
    }

    @include screen('xs_mobile') {
      width: 150%;
      right: -60%;
    }
  }

  .skw-page__title {
    .skw-page__content {
      // border: 2px solid red;
      z-index: 1;

      @include screen('tablet') {
        padding: 0;
        align-items: center;
      }
    }

    .skw-page__heading {
      background: url(../images/img/headertext_01.png);
      width: 660px;
      height: 174px;
      transform: skewX($skewDeg * -1);
      margin: 0;

      @include screen('tablet') {
        width: 550px;
        height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      @include screen('mobile') {
        width: 500px;
        height: 120px;
      }

      @include screen('xs_mobile') {
        height: 80px;
        width: 370px;
      }
    }

    .skw-page__description {
      background: url(../images/img/headertext_02.png);
      width: 660px;
      height: 100px;
      transform: skewX($skewDeg * -1);
      display: inline-block;
      margin: 0;

      @include screen('tablet') {
        height: 80px;
        width: 550px;
        background-size: contain;
        background-repeat: no-repeat;
      }

      @include screen('mobile') {
        height: 80px;
        width: 500px;
      }

      @include screen('xs_mobile') {
        width: 370px;
      }
    }
  }
  .skw-page__content {
    padding-left: 20%;
  }
}
#mp_page .skw-page__menu {
  position: fixed;
  @include screen('mobile') {
    position: relative;
  }
}
.skw-page__menu {
  right: 0;
  height: 100vh;
  // position: fixed;
  z-index: 9;
  @include screen('mobile') {
    height: auto;
    // position:relative;
  }
  nav {
    position: absolute;
    right: -0.5em;
    top: 1.5em;
    z-index: 2;
    width: 4em;
  }

  button {
    width: 50px !important;
    height: 50px !important;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  .sidebarCtrl {
    background-image: url(../images/img/menu_icon.png);
    font-size: 0em;
    color: rgba(255, 255, 255, 0);
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      right: 0.5em;
      bottom: 50%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  .searchCtrl {
    background-image: url(../images/img/search_icon.png);
    font-size: 0em;
    color: rgba(255, 255, 255, 0);
  }
}

.skw-page__searchContent {
  display: none;

  .skw-page__search {
    width: 408px;
    height: 100px;
    padding: 1em 0.3em 0em;
    background: #00000080;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: 999;
    flex-wrap: wrap;

    // @include screen("mobile") {
    //   top: 66px;
    //   right: 70px;
    // }
    .form_grp {
      display: flex;
      width: 60%;

      label {
        font-size: 0;
      }

      input {
        width: 100%;
        margin-left: 1em;
      }
    }

    .btn_grp {
      position: absolute;
      right: 0px;
      top: 16px;

      input {
        margin-right: 1em;
        background-color: $color-green;
        border: none;
        color: darken($primaryColor, 30);
        height: 40px;
      }
    }

    .form_grp input[type='submit'] {
      font-size: 0em;
      width: 30px !important;
      height: 30px;
      background: url(../images/basic/icon_search.png) no-repeat center center;
      background-size: 20px;
      border: none;
      display: inline-block;
      margin-left: -40px !important;
      margin-top: 10px !important;
      opacity: 0.8;
    }

    .keywordHot {
      margin-left: 1.5em;
      padding: 0.1em 0 0.3em;

      text-align: left;
      margin-top: -0.3em;

      ul {
        display: inline-block;
        font-size: 0.813em;
        line-height: 1.65em;
        margin: 0;
        padding: 0;

        li {
          margin: 0 0.6em 0 0;
          padding: 0;
          display: inline-block;

          a {
            color: #fff;
          }
        }
      }
    }
  }
}

.skw-page__searchContent.show {
  display: block;
}

.skw-page__menu_bg {
  width: 200px;
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
  filter: drop-shadow(-20px 5px 20px rgba(0, 0, 0, 0.3));

  &::after {
    position: absolute;
    content: '';
    clip-path: polygon(83% 0, 100% 0, 100% 100%, 25% 100%);
    background: $bg-color;
    width: 260px;
    height: 100%;
    right: 0;
  }

  @include screen('mobile') {
    display: none;
  }
}

.modal_news {
  background: linear-gradient(180deg, rgba(72, 68, 168, 0.8) 49%, rgba(74, 99, 171, 0.8) 88%);

  left: auto;
  right: 3%;
  bottom: 3%;
  top: auto;
  height: 240px;
  color: #fff;
  padding: 1.5em;
  z-index: 10;

  h2 {
    border-bottom: 0;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 10px;
  }

  p {
    font-weight: 300;
    margin-top: 0;
    max-height: 2.9em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div {
    display: flex;
    justify-content: center;
  }

  .close {
    top: 20px;
    right: 20px;
    background: url(../images/icon/icon_close3.svg) no-repeat center center;
    background-size: 100%;
  }

  @include screen('mobile') {
    display: block;
    position: relative;
    border-radius: 0;
    height: 30vh;
    width: 100vw;
    margin: 0;
    left: 0;
    z-index: 1;

    .close {
      display: none;
    }

    background: linear-gradient(0deg, rgba(72, 68, 168, 1) 49%, rgba(74, 99, 171, 1) 88%);

    h2 {
      text-align: center;
      font-weight: 400;
    }
  }
}

.skw-wrapper {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    border-style: solid;
    border-width: 550px 165px 0 0;
    border-color: #fff transparent transparent transparent;
    z-index: 1;
  }

  @include screen('mobile') {
    &::after {
      border-color: rgba(255, 255, 255, 0) transparent transparent transparent;
    }
  }
}

.skw-page__sidebar {
  .menu_area {
    width: 100%;
    padding: 3em 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    display: none;
    background: $color-green;
    overflow: hidden;
    overflow-y: auto;
    z-index: 98;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../images/img/menu_bg.png);

    button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      width: 51px;
      height: 51px;
      background-image: url(../images/img/icon__colse.png);
      position: absolute;
      right: 50px;
      top: 50px;
      font-size: 0em;
      @include screen('mobile') {
        right: 30px;
        top: 20px;
      }
    }

    li {
      list-style: none;
    }

    .menu_list {
      display: flex;
      justify-content: space-between;
      margin-left: 130px;
      margin-right: 50px;
      margin-bottom: 1.5em;
      a {
        color: #000;
        font-weight: 500;
        font-size: 1.8em;
        padding: 0.5em 0;
        display: inline-block;

        + ul {
          display: flex;
        }
      }
      a:hover,
      a:focus,
      a:active {
        color: $primaryColor;
      }

      ul {
        &:first-child {
          ul {
            padding: 0;

            li {
              a {
                font-weight: 400;
                font-size: 1em;
                display: inline-block;
                padding: 0.5em;
                margin-bottom: 0;
              }
            }
          }
        }

        + ul {
          color: #000;
          font-weight: 500;
          position: absolute;
          right: 50px;
          top: 30%;

          li {
            a {
              font-size: 1em;
              border-bottom: #000 solid 1.5px;
              padding: 0.5em 1.2em;
              letter-spacing: 0.1em;
              text-align: center;
              width: 100%;
            }

            &:last-child {
              a {
                border-bottom: none;
              }
            }
          }

          @include screen('mobile') {
            position: relative;
            width: 60%;
            margin: 0 20%;
            right: 0;
          }
        }

        @include screen('mobile') {
          padding: 0;
        }
      }

      @include screen('mobile') {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .icon_list {
      // position: absolute;
      // width: 100%;
      // bottom: 0;

      box-sizing: border-box;
      @include clearfix;
      text-align: left;
      font-size: 0.813em;
      padding: 1em 0;

      .container {
        @include gutter;

        > div {
          padding-bottom: 1em;
        }

        max-width: unset;
        margin-left: 150px;
        margin-right: 50px;
        display: flex;

        @include screen('tablet') {
          flex-wrap: wrap;
        }

        @include screen('mobile') {
          margin: 0;
        }
      }

      a {
        text-decoration: none;
        color: $primaryColor;

        &:hover,
        &:focus {
          color: darken($primaryColor, 10);
        }
      }

      .footer_logo {
        flex: 0 1 240px;
      }

      .footer_info {
        flex: 1 1 auto;
        p {
          @include screen('mobile') {
            text-align: center;
          }
        }
      }

      .footer_icon {
        flex: 0 1 200px;

        @include screen('tablet') {
          flex: 1 1 100%;
          text-align: right;
        }
      }

      // 版權連結
      .footer_link {
        @include li-reset();
        @include clearfix();
        display: flex;

        @include screen('mobile') {
          flex-direction: column;
        }

        li {
          flex: 0 1 auto;
          margin: 0px 5px 5px 0px;

          @include screen('mobile') {
            flex: 1 1 100%;
          }

          a {
            display: block;
            border-radius: 4px;
            text-align: center;
            transition: all 0.3s ease-out;

            &:hover,
            &:focus {
              color: $primaryColor;
              text-decoration: underline;
            }
          }
        }
      }

      p {
        line-height: 1.65em;
      }

      .update,
      .counter {
        display: inline-block;
        margin-right: 5px;

        em {
          font-style: normal;
          color: $primaryColor;
          padding: 0 0.5em;
        }
      }
      .footer_icon_link {
        @include screen('mobile') {
          justify-content: center;
        }
        a {
          display: inline-block;
        }
      }
      .footer_icon {
        a {
          display: inline-block;
          vertical-align: top;
          position: relative;

          &:focus {
            &:after {
              content: '';
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              box-shadow: 0px 0px 0px 1px $aHover inset;
              z-index: 99;
            }
          }
        }

        p {
          @include screen('mobile') {
            text-align: center;
          }
        }
        img {
          max-width: 120px;
        }
      }
      .footer_icon_img {
        @include screen('mobile') {
          justify-content: center;
        }
      }
    }
  }
}

.skw-footer {
  display: none;

  @include screen('mobile') {
    display: block;
  }

  li {
    list-style-type: none;
  }

  .footer_link {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 2em;

    a {
      color: #000;
    }
  }

  .footer_icon {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-top: 2em;
  }

  .footer_icon_link {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5em;
    }
  }

  p {
    margin: 1em 40px 0 40px;
    color: $primaryColor;
    line-height: 2em;
  }

  .Copyright {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 2em;
    letter-spacing: 0.1em;
  }
}
